<li
  [class.completed]="todoItem.completed"
  [class.editing]="editSignal()"
>
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [formControl]="chkComplete()"
    >
    <label
      (dblclick)="editing()"
    >{{ todoItem.text }} - {{ todoItem.completed }}</label>
    <button
      style="border:1px solid red; border-radius: 50%; cursor: pointer"
      class="destroy"
      (click)="deleteTodo()"
    ></button>
  </div>
  <input
    class="edit"
    type="text"
    (blur)="endEdit()"
    [formControl]="txtInput"
    #inputText
  >
</li>
