<li
  [class.completed]="todoItemSignal()?.completed"
  [class.editing]="editSignal()"
  class="complete"
>
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [formControl]="chkComplete"
    >
    <label
      (dblclick)="editing()"
    >{{ todoItemSignal()?.text }} - {{ todoItemSignal()?.completed }}</label>
    <button
      style="border:1px solid red; border-radius: 50%; cursor: pointer"
      class="destroy"
      (click)="deleteTodo()"
    ></button>
  </div>
  <input
    class="edit"
    type="text"
    (blur)="endEdit()"
    [formControl]="txtInput"
    #inputText
  >
</li>
